body {
    font-family: Karla, sans-serif;
    color: #484848;
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style-type: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

header {
    background-color: #ff5a5f;
    height: 80px; 
}

#logo {
    height: 80px;
}

.class {
    width: 900px;
    margin: auto; 
}

nav {
    display: inline-block;
    float: right;
}
nav li {
    display: inline-block;
    margin-left: 40px; 
    line-height: 80px; 
}

section {
    padding: 300px;
    border: 1px solid #cccccc;  
    margin-bottom: 10px;
}

section img {
    width: 200px;
}