html {
  height: 100%;
  width: 100%;
  background-color: pink;
}

body {
  font-family: 'Inconsolata', monospace;
  color: #1b2333;
}

#title {
  padding: 0px;
  font-size: 66px; 
  text-align: center; 
  margin-bottom: 65px; 
}

#season-change{
  font-size: 20px;
  text-align: center;
  width: 150px;
  margin-left: 25px;
  margin-top: 25px; 
}


.subtitle{
  padding-top: 5%;
  font-size: 34px;
}

button {
  display: inline;
  list-style-type: none;
  padding: 5px;
  background-color: white;
  font-family: 'Inconsolata', monospace;
  color: #1b2333;
  width: 100px; 
  margin: 10px; 
  border-radius: 20px;
  border: 2px solid black; 
}

button:hover{
  background-color: #22577A;
  scale: 1.2; 
  cursor: pointer; 
  color: white; 
  border: 2px solid white; 
}



#model-box{
  background-color: #7EB77F; 
  width: 50%; 
  height: 100%; 
  position: absolute; 
  left: 50%; 
  z-index: 0;
  padding-bottom: 10%; 
}

#container {
  padding-left: 1.5%; 
  display: grid;
  justify-content: center; 
  columns: 4; 
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  position: absolute;
  z-index: 1;
  padding-top: 5%;
}

.box {
  text-align: center;
  margin: 10px;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
  width: 170px;
}

.box:hover {
  transform: scale(1.05);
}

.top-img, .bottom-img {
  width: 170px;
}

#clothing-box{
  background-color:#ED7B84; 
  width: 50%; 
  height: 100%; 
  position: absolute; 
  left: 0%; 
  z-index: 0; 
  padding-bottom: 10%; 
}

#directions {
  color: white; 
  padding: 3% 3% 0% 3%;
}

#top {
  width: 360px;
  left: 30%;
  position: absolute; 
  z-index: 3;
  top: 10%;
}

#bottom {
  width: 480px;
  left: 23%;
  position: absolute; 
  z-index: 2;
  top: 43%;
}

#popup{
  background-color: #737373;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid white;
  color: white; 
  z-index: 4;
  position: absolute;
  visibility: hidden; 
}

#close-popup{
  left: 10%; 
}

#popup-title{
  text-align: center;
  margin-top: 5%; 
  font-size: 30px; 
}
#popup-img{
  margin-top:80px; 
  width: 30%;
  margin-left: 32%; 
}

a {
  background-color: black;
  color:white;
  border-radius: 20px; 
  position: absolute;
  margin-top:15px;
  left: 30%;
  font-size: 20px; 
}